@model TheDojoLeague.Models.Dojos

<br>
<p class="text-right">
    <a href="/ninja" class="btn btn-primary">Ninjas</a>
</p>

<h2>All Dojos</h2>
<table class="table table-striped table-dark">
    <thead>
        <th scope="col">Dojo Name</th>             
    </thead>
    <tbody>
        <tr>
                @{
                    for(int i = 0; i < ViewBag.Dojos.Count; i++)
                    {
                        <tr>
                            <td><a href="/Dojos/@ViewBag.Dojos[i].DojoId">@ViewBag.Dojos[i].DojoName</a></td>
                        </tr>
                    }
                }
            </tr>
    </tbody>
</table>
<p class="text-right"><br>
    <h2>Register a Dojo</h2>
    <br>
    <form asp-controller="Dojos" asp-action="RegisterDojo" method="post">
        <label asp-for="DojoName"></label>
        <input asp-for="DojoName" class="form-control"/>
        <span asp-validation-for="DojoName" class="p-3 mb-2 bg-danger text-white"></span>
        <br>
        <label asp-for="DojoLocation"></label>
        <input asp-for="DojoLocation" class="form-control"/>
        <span asp-validation-for="DojoLocation" class="p-3 mb-2 bg-warning text-white"></span>
        <br>
        <label asp-for="AdditionalDojoInformation"></label>
        <!-- <input asp-for="AdditionalDojoInformation" class="form-control"/> -->
        <textarea asp-for="AdditionalDojoInformation" class="form-control" cols="30" rows="10"></textarea>
        <span asp-validation-for="AdditionalDojoInformation" class="text-danger"></span>
        <br>
        <button type="submit" class="btn btn-primary">Add</button>
        <br>
    </form>
    <br>
</p>